[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/lexical-cloud/docsy.git
[submodule "public"]
	path = public
	url = https://github.com/lexical-cloud/lexical-cloud.github.io.git
