<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }} td-blog {{- with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "sidebar.html" . }}
          </aside>
          <aside class="collapse d-xl-block col-md-3 col-xl-2 td-sidebar-toc2 d-print-none" id="td-section-nav2">
            <div class="d-none d-xl-block mt-3">
              {{ partial "page-meta-links.html" . }}
              <br />
              {{ partial "toc.html" . }}
            </div>
            {{ partial "taxonomy_terms_clouds.html" . }}
          </aside>
          <main class="collapse show d-xl-block col-12 col-md-8 col-xl-8 pl-md-5" role="main" id="td-section-nav3">
            {{ with .CurrentSection.OutputFormats.Get "rss" -}}
            <a class="btn btn-lg -bg-orange td-rss-button d-none d-lg-block" href="{{ .Permalink | safeURL }}" target="_blank">
              RSS <i class="fa fa-rss ml-2 "></i>
            </a>
            {{ end -}}
            {{ if (hasPrefix .File.Path "blog/decisions/") -}}
               {{ $p := cond .IsPage .Parent . -}}
               <nav aria-label="breadcrumb" class="td-breadcrumbs">
                 <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a href="/pages/project">About</a></li>
                   {{ if not (eq .File.Path "blog/decisions/_index.md") -}}
                   <li class="breadcrumb-item">
                     <a href="{{ substr (replace $p.File.Dir "blog/decisions/" "/pages/project/#") 0 -1 }}">{{ $p.Title }}</a>
                   </li>
                   {{ end -}}
                   <li class="breadcrumb-item {{ cond .IsPage "" "active" }}">
                     {{ if .IsPage }}<a href="/{{ $p.File.Dir }}">Decision Log</a>{{ else }}<span>Decision Log</span>{{ end }}
                   </li>
                </ol>
              </nav>
            {{ end -}}
            {{ block "main" . }}{{ end }}
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
