{{ $isCloudEntry := and (isset .Params "services") (isset .Params "categories") }}
<meta name="description"
  content="{{ if $isCloudEntry }}{{ i18n "metadata_entry_title_prefix" }}{{ .Params.linkTitle }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">
{{ $keywords := (slice) }}
{{ if $isCloudEntry }}
{{ $keywords = union $keywords (cond (reflect.IsSlice .Params.Services) .Params.Services (slice .Params.Services)) }}
{{ $keywords = union $keywords (cond (reflect.IsSlice .Params.Categories) .Params.Categories (slice .Params.Categories)) }}
{{ $keywords = union $keywords (cond (reflect.IsSlice .Params.Features) .Params.Features (slice .Params.Features)) }}
{{ end }}
<meta name="keywords"
  content="{{ if $keywords }}{{ delimit $keywords ", " }}{{ else }}{{ with site.Params.keywords }}{{ . }}{{ end }}{{ end }}">
<meta name="author" content="{{ site.Params.copyright }}">

<meta property="og:title"
  content="{{ if $isCloudEntry }}{{ i18n "metadata_entry_title_prefix" }}{{ .Params.linkTitle }}{{ else }}{{ site.Title }}{{ end }}">
<meta property="og:type" content="{{ if $isCloudEntry }}article{{ else }}website{{ end }}">
<meta property="og:description"
  content="{{ if $isCloudEntry }}{{ i18n "metadata_entry_description" }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">
<meta property="og:url" content="{{ site.Params.url }}{{ .RelPermalink }}">
