{{ $resultDirPath :=  (printf "/%s%s/components/" .File.Dir .File.TranslationBaseName) }}
{{ if os.FileExists $resultDirPath  }}
{{   range where (os.ReadDir (printf "/content/en%s" $resultDirPath)) "IsDir" false }}
{{     $resultModelPagePath := (printf "%s%s" $resultDirPath .Name )  }}
{{     $resultModelPage := $.GetPage $resultModelPagePath }}
{{     with $resultModelPage }}
<div class="grouped-model-title"><a href="{{ .RelPermalink }}"><i class="fa fa-bookmark "></i> {{.LinkTitle }}</a></div>
<div class="taxonomy taxonomy-terms-article taxo-providers mb-2 mt-2">
  {{ partial "taxonomy_terms_article_wrapper.html" . }}
</div>
{{ partial "product-model-details.html" . }}
{{     end }}
{{   end }}
{{ end }}
